test-scrapper.json
{
  "name": "test-scrapper",
  "nodes": [
    {
      "parameters": {},
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -3248,
        304
      ],
      "typeVersion": 1,
      "id": "731ea09b-8095-4e6e-b6ff-f925fe952793"
    },
    {
      "parameters": {
        "url": "https://www.theswiftcodes.com/browse-by-country/",
        "responseFormat": "string",
        "options": {}
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -2784,
        304
      ],
      "typeVersion": 1,
      "id": "ead23cc6-9e3d-4462-b351-f86129079778"
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "countries",
              "cssSelector": "ol > li > a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        -2592,
        304
      ],
      "typeVersion": 1,
      "id": "26dce5cc-6269-4b7e-a57e-8bbc800a5cb5"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      },
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -2192,
        304
      ],
      "typeVersion": 1,
      "id": "5016a8be-d0dd-4530-a1c1-d07c4eaeded4"
    },
    {
      "parameters": {
        "url": "={{$node[\"Set\"].json[\"url\"]}}",
        "responseFormat": "file",
        "options": {}
      },
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -848,
        224
      ],
      "typeVersion": 1,
      "id": "94e79259-88da-459c-b304-b85409f64fde"
    },
    {
      "parameters": {
        "sourceData": "binary",
        "extractionValues": {
          "values": [
            {
              "key": "next_button",
              "cssSelector": "span.next > a",
              "returnValue": "attribute",
              "attribute": "href"
            },
            {
              "key": "names",
              "cssSelector": "td.table-name",
              "returnArray": true
            },
            {
              "key": "swifts",
              "cssSelector": "td.table-swift",
              "returnArray": true
            },
            {
              "key": "cities",
              "cssSelector": "td.table-city",
              "returnArray": true
            },
            {
              "key": "branches",
              "cssSelector": "td.table-branch",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract1",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        -352,
        80
      ],
      "typeVersion": 1,
      "id": "a2b60a98-1f61-484a-979f-b3a0e7562ea7"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "swifts.meetup",
        "fields": "iso_code,country,page,name,branch,city,swift_code,createdAt,updatedAt",
        "options": {
          "dateFields": "createdAt,updatedAt"
        }
      },
      "name": "MongoDB1",
      "type": "n8n-nodes-base.mongoDb",
      "position": [
        176,
        80
      ],
      "typeVersion": 1,
      "id": "dea48220-2ff2-45f5-9755-452d43e21700"
    },
    {
      "parameters": {
        "group": "geographic",
        "tool": "getCountryNormalized",
        "country": "={{$node[\"SplitInBatches\"].json[\"country\"].replace(/[\\/0-9]/g, \"\")}}",
        "additionalOptions": {}
      },
      "name": "uProc",
      "type": "n8n-nodes-base.uproc",
      "position": [
        -2000,
        304
      ],
      "typeVersion": 1,
      "id": "8dd3bc8c-e47b-47d5-9ffb-00a3307a4950"
    },
    {
      "parameters": {
        "functionCode": "var newItems = [];\n\nfor (i = 0; i < items[0].json.swifts.length; i++) {\n  var item = {\n    iso_code: $node['uProc'].json.message.code,\n    country: $node['SplitInBatches'].json.country.replace(/[-\\/0-9]/g, \"\"),\n    page: $node['Set Page to Scrape'].json.page,\n    name: items[0].json.names[i],\n    city: items[0].json.cities[i],\n    branch: items[0].json.branches[i],\n    swift_code: items[0].json.swifts[i],\n    createdAt: new Date(),\n    updatedAt: new Date()\n  }\n  newItems.push({json: item});\n}\n\nreturn newItems;\n\n"
      },
      "name": "Prepare Documents",
      "type": "n8n-nodes-base.function",
      "position": [
        -176,
        80
      ],
      "typeVersion": 1,
      "id": "35a49652-a596-40cb-bd3e-c49a6c6dc958"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"SplitInBatches\"].context[\"noItemsLeft\"] + \"\"}}",
              "value2": "true"
            }
          ]
        }
      },
      "name": "More Countries",
      "type": "n8n-nodes-base.if",
      "position": [
        -288,
        592
      ],
      "typeVersion": 1,
      "id": "5fb40db5-d93f-4245-897d-6a5607607903"
    },
    {
      "parameters": {
        "functionCode": "const staticData = getWorkflowStaticData('global');\n\nitem.page = \"\";\nif (staticData.page && staticData.page.length) {\n  item.page = staticData.page;\n} else {\n  item.page = $node['SplitInBatches'].json.country;\n}\nreturn item;\n"
      },
      "name": "Set Page to Scrape",
      "type": "n8n-nodes-base.functionItem",
      "position": [
        -1808,
        176
      ],
      "typeVersion": 1,
      "id": "66486f1f-ebff-4bfa-bfa4-4f3a3c17607d"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"more_pages\"] + \"\"}}",
              "value2": "true"
            }
          ]
        }
      },
      "name": "More Pages",
      "type": "n8n-nodes-base.if",
      "position": [
        -32,
        512
      ],
      "typeVersion": 1,
      "id": "c5a6026c-b9ad-48bd-9d39-91dadda50b15"
    },
    {
      "parameters": {
        "functionCode": "var next_page = $node['HTML Extract1'].json.next_button && $node['HTML Extract1'].json.next_button.length ? $node['HTML Extract1'].json.next_button : \"\";\nvar more_pages = next_page.length > 0;\nconst staticData = getWorkflowStaticData('global');\n\n//all current items are after date: needs pagination\nif (more_pages) {\n  staticData.page = next_page;\n} else {\n  //don't check more items in previous pages;\n  delete staticData.page;\n}\n\nreturn [\n  {\n    json: {\n      more_pages: more_pages\n    }\n  }\n];\n"
      },
      "name": "Set More Pages",
      "type": "n8n-nodes-base.function",
      "position": [
        368,
        80
      ],
      "typeVersion": 1,
      "id": "43fe0585-456f-4210-a991-f7f4076ba12c"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "url",
              "value": "=https://www.theswiftcodes.com{{$node[\"Set Page to Scrape\"].json[\"page\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "position": [
        -1664,
        176
      ],
      "typeVersion": 1,
      "id": "1df1b291-cca8-4c32-b574-db02779d7708"
    },
    {
      "parameters": {
        "functionCode": "var generateNameFromUrl = function(url){\n    return url.replace(/[^a-z0-9]/gi, \"_\");\n}\n\nitem.file = generateNameFromUrl(item.url) + \".html\"\nreturn item;"
      },
      "name": "Generate filename",
      "type": "n8n-nodes-base.functionItem",
      "position": [
        -1504,
        96
      ],
      "typeVersion": 1,
      "id": "9f7d9ff1-10a5-4320-99e5-7c022c7fa15d"
    },
    {
      "parameters": {
        "filePath": "=/home/node/.cache/scrapper/{{$json[\"file\"]}}"
      },
      "name": "Read Binary File",
      "type": "n8n-nodes-base.readBinaryFile",
      "position": [
        -1328,
        96
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "id": "311c9bcf-c047-4c94-90fa-d39cc9990d22",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Read Binary File\"].binary.data.mimeType}}",
              "value2": "text/html"
            }
          ]
        }
      },
      "name": "File exists?",
      "type": "n8n-nodes-base.if",
      "position": [
        -1152,
        96
      ],
      "typeVersion": 1,
      "id": "91ffe94e-416a-4cef-9faf-cb8957a7110a"
    },
    {
      "parameters": {
        "fileName": "=/home/node/.cache/scrapper/{{$node[\"Generate filename\"].json[\"file\"]}}",
        "dataPropertyName": "=data",
        "options": {}
      },
      "name": "Write Binary File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "position": [
        -704,
        224
      ],
      "typeVersion": 1,
      "id": "326361b7-add0-4e3b-92f3-0489221679ea"
    },
    {
      "parameters": {
        "filePath": "=/home/node/.cache/scrapper/{{$json[\"file\"]}}"
      },
      "name": "Read Binary File1",
      "type": "n8n-nodes-base.readBinaryFile",
      "position": [
        -528,
        80
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "id": "8bab6c05-0cf7-4c2b-9a44-13a6b03370bb",
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "const waitTimeSeconds = 1;\n\nreturn new Promise((resolve) => {\n  setTimeout(() => {\n    resolve([]);\n  }, waitTimeSeconds * 1000);\n});\n"
      },
      "name": "Wait",
      "type": "n8n-nodes-base.function",
      "position": [
        -1008,
        224
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "id": "0f33c64e-3135-4eb1-9d5a-c85745481cc7",
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "return items[0].json.countries.map(function(country) {\n  return {\n  json: {country: country}\n  }\n});"
      },
      "name": "Prepare countries",
      "type": "n8n-nodes-base.function",
      "position": [
        -2400,
        304
      ],
      "typeVersion": 1,
      "id": "8aace118-8ce1-485b-890c-cfdfeb37dc61"
    },
    {
      "parameters": {
        "command": "mkdir -p  /home/node/.cache/scrapper/"
      },
      "name": "Create Directory",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        -3024,
        304
      ],
      "typeVersion": 1,
      "id": "120cdb3f-7420-42b0-8b73-6546ec19bb82",
      "continueOnFail": true
    },
    {
      "parameters": {
        "collection": "swifts.meetup",
        "options": {},
        "query": "={\"swift_code\": \"{{$json[\"swift_code\"]}}\"}"
      },
      "name": "MongoDB",
      "type": "n8n-nodes-base.mongoDb",
      "position": [
        0,
        0
      ],
      "executeOnce": false,
      "typeVersion": 1,
      "alwaysOutputData": true,
      "id": "178b2b84-fb56-48b1-a075-d7a8fa1046f0",
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Create Directory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract": {
      "main": [
        [
          {
            "node": "Prepare countries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "uProc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Write Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract1": {
      "main": [
        [
          {
            "node": "Prepare Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB1": {
      "main": [
        [
          {
            "node": "Set More Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "uProc": {
      "main": [
        [
          {
            "node": "Set Page to Scrape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Documents": {
      "main": [
        [
          {
            "node": "MongoDB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "More Countries": {
      "main": [
        [],
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Page to Scrape": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "More Pages": {
      "main": [
        [
          {
            "node": "Set Page to Scrape",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "More Countries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set More Pages": {
      "main": [
        [
          {
            "node": "More Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Generate filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate filename": {
      "main": [
        [
          {
            "node": "Read Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary File": {
      "main": [
        [
          {
            "node": "File exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File exists?": {
      "main": [
        [
          {
            "node": "Read Binary File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Binary File": {
      "main": [
        [
          {
            "node": "Read Binary File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary File1": {
      "main": [
        [
          {
            "node": "HTML Extract1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare countries": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Directory": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "932ecff0-6678-43e0-ac92-08743255f49f",
  "meta": {
    "instanceId": "08055b552e6611728d9e3d82803686d88d87514124536a81604c916c12efc555"
  },
  "id": "L4SAUkVy3rj8QVdQ",
  "tags": []
}